/obj/rider.project.restore.info
/obj/project.packagespec.json
/obj/project.nuget.cache
/obj/project.assets.json
/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/DiffAPI.csproj.nuget.g.props
/obj/Debug/net7.0/DiffAPI.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/DiffAPI.GlobalUsings.g.cs
/obj/DiffAPI.csproj.nuget.g.targets
/obj/DiffAPI.csproj.nuget.dgspec.json
/obj/Debug/net7.0/DiffAPI.csproj.AssemblyReference.cache
/obj/Debug/net7.0/DiffAPI.assets.cache
/obj/Debug/net7.0/DiffAPI.AssemblyInfoInputs.cache
/obj/Debug/net7.0/DiffAPI.AssemblyInfo.cs
/obj/rider.project.model.nuget.info
/obj/Debug/net7.0/apphost
/bin/Debug/net7.0/appsettings.Development.json
/bin/Debug/net7.0/appsettings.json
/bin/Debug/net7.0/DiffAPI
/obj/Debug/net7.0/DiffAPI.csproj.CopyComplete
/obj/Debug/net7.0/DiffAPI.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/DiffAPI.csproj.FileListAbsolute.txt
/bin/Debug/net7.0/DiffAPI.deps.json
/bin/Debug/net7.0/DiffAPI.dll
/obj/Debug/net7.0/ref/DiffAPI.dll
/obj/Debug/net7.0/refint/DiffAPI.dll
/obj/Debug/net7.0/DiffAPI.dll
/obj/Debug/net7.0/DiffAPI.genruntimeconfig.cache
/obj/Debug/net7.0/DiffAPI.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net7.0/DiffAPI.MvcApplicationPartsAssemblyInfo.cs
/bin/Debug/net7.0/DiffAPI.pdb
/obj/Debug/net7.0/DiffAPI.pdb
/bin/Debug/net7.0/DiffAPI.runtimeconfig.json
/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
/bin/Debug/net7.0/Microsoft.OpenApi.dll
/obj/Debug/net7.0/staticwebassets/msbuild.build.DiffAPI.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.DiffAPI.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.DiffAPI.props
/obj/Debug/net7.0/staticwebassets.build.json
/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
