/obj/rider.project.restore.info
/obj/project.packagespec.json
/obj/project.nuget.cache
/obj/project.assets.json
/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/DiffAPI.csproj.nuget.g.props
/obj/Debug/net7.0/DiffAPI.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/DiffAPI.GlobalUsings.g.cs
/obj/DiffAPI.csproj.nuget.g.targets
/obj/DiffAPI.csproj.nuget.dgspec.json
/obj/Debug/net7.0/DiffAPI.csproj.AssemblyReference.cache
/obj/Debug/net7.0/DiffAPI.assets.cache
/obj/Debug/net7.0/DiffAPI.AssemblyInfoInputs.cache
/obj/Debug/net7.0/DiffAPI.AssemblyInfo.cs
/obj/rider.project.model.nuget.info
/obj/Debug/net7.0/apphost
/bin/Debug/net7.0/appsettings.Development.json
/bin/Debug/net7.0/appsettings.json
/bin/Debug/net7.0/DiffAPI
/obj/Debug/net7.0/DiffAPI.csproj.CopyComplete
/obj/Debug/net7.0/DiffAPI.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/DiffAPI.csproj.FileListAbsolute.txt
/bin/Debug/net7.0/DiffAPI.deps.json
/bin/Debug/net7.0/DiffAPI.dll
/obj/Debug/net7.0/ref/DiffAPI.dll
/obj/Debug/net7.0/refint/DiffAPI.dll
/obj/Debug/net7.0/DiffAPI.dll
/obj/Debug/net7.0/DiffAPI.genruntimeconfig.cache
/obj/Debug/net7.0/DiffAPI.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net7.0/DiffAPI.MvcApplicationPartsAssemblyInfo.cs
/bin/Debug/net7.0/DiffAPI.pdb
/obj/Debug/net7.0/DiffAPI.pdb
/bin/Debug/net7.0/DiffAPI.runtimeconfig.json
/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
/bin/Debug/net7.0/Microsoft.OpenApi.dll
/obj/Debug/net7.0/staticwebassets/msbuild.build.DiffAPI.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.DiffAPI.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.DiffAPI.props
/obj/Debug/net7.0/staticwebassets.build.json
/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/bin/Debug/net7.0/Castle.Core.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Antiforgery.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Authentication.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Authentication.Cookies.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Authentication.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Authentication.OAuth.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Authorization.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Authorization.Policy.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Components.Authorization.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Components.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Components.Forms.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Components.Server.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Components.Web.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Connections.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.CookiePolicy.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Cors.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Cryptography.Internal.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.DataProtection.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.DataProtection.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.DataProtection.Extensions.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Diagnostics.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Diagnostics.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Diagnostics.HealthChecks.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.HostFiltering.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Hosting.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Hosting.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Html.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Http.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Http.Connections.Common.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Http.Connections.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Http.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Http.Extensions.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Http.Features.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Http.Results.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.HttpLogging.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.HttpOverrides.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.HttpsPolicy.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Identity.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Localization.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Localization.Routing.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Metadata.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Mvc.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Mvc.ApiExplorer.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Mvc.Core.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Mvc.Cors.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Mvc.DataAnnotations.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Mvc.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Mvc.Formatters.Json.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Mvc.Formatters.Xml.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Mvc.Localization.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Mvc.Razor.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Mvc.RazorPages.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Mvc.TagHelpers.dll
/bin/Debug/net7.0/Microsoft.AspNetCore.Mvc.Testing.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Mvc.ViewFeatures.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.OutputCaching.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.RateLimiting.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Razor.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Razor.Runtime.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.RequestDecompression.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.ResponseCaching.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.ResponseCaching.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.ResponseCompression.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Rewrite.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Routing.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Routing.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Server.HttpSys.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Server.IIS.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Server.IISIntegration.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Server.Kestrel.Core.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Server.Kestrel.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.Session.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.SignalR.Common.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.SignalR.Core.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.SignalR.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.SignalR.Protocols.Json.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.StaticFiles.dll
/bin/Debug/net7.0/Microsoft.AspNetCore.TestHost.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.WebSockets.dll
/bin/Debug/net7.0/refs/Microsoft.AspNetCore.WebUtilities.dll
/bin/Debug/net7.0/refs/Microsoft.CSharp.dll
/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.InMemory.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Caching.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Caching.Memory.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Configuration.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Configuration.Binder.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Configuration.CommandLine.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Configuration.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Configuration.FileExtensions.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Configuration.Ini.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Configuration.Json.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Configuration.KeyPerFile.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Configuration.UserSecrets.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Configuration.Xml.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.DependencyInjection.dll
/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Diagnostics.HealthChecks.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Features.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.FileProviders.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.FileProviders.Composite.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.FileProviders.Embedded.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.FileProviders.Physical.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.FileSystemGlobbing.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Hosting.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Hosting.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Http.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Identity.Core.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Identity.Stores.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Localization.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Localization.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Logging.Abstractions.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Logging.Configuration.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Logging.Console.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Logging.Debug.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Logging.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Logging.EventLog.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Logging.EventSource.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Logging.TraceSource.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.ObjectPool.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Options.DataAnnotations.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Options.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.Primitives.dll
/bin/Debug/net7.0/refs/Microsoft.Extensions.WebEncoders.dll
/bin/Debug/net7.0/refs/Microsoft.JSInterop.dll
/bin/Debug/net7.0/refs/Microsoft.Net.Http.Headers.dll
/bin/Debug/net7.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/bin/Debug/net7.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/bin/Debug/net7.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/bin/Debug/net7.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/bin/Debug/net7.0/Microsoft.TestPlatform.CoreUtilities.dll
/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/bin/Debug/net7.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/bin/Debug/net7.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/bin/Debug/net7.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/bin/Debug/net7.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/bin/Debug/net7.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/bin/Debug/net7.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/bin/Debug/net7.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/bin/Debug/net7.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/bin/Debug/net7.0/Microsoft.TestPlatform.Utilities.dll
/bin/Debug/net7.0/refs/Microsoft.VisualBasic.Core.dll
/bin/Debug/net7.0/refs/Microsoft.VisualBasic.dll
/bin/Debug/net7.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/bin/Debug/net7.0/refs/Microsoft.Win32.Primitives.dll
/bin/Debug/net7.0/refs/Microsoft.Win32.Registry.dll
/bin/Debug/net7.0/Moq.dll
/bin/Debug/net7.0/refs/mscorlib.dll
/bin/Debug/net7.0/MvcTestingAppManifest.json
/obj/Debug/net7.0/MvcTestingAppManifest.json
/bin/Debug/net7.0/refs/netstandard.dll
/bin/Debug/net7.0/Newtonsoft.Json.dll
/bin/Debug/net7.0/refs/System.AppContext.dll
/bin/Debug/net7.0/refs/System.Buffers.dll
/bin/Debug/net7.0/refs/System.Collections.Concurrent.dll
/bin/Debug/net7.0/refs/System.Collections.dll
/bin/Debug/net7.0/refs/System.Collections.Immutable.dll
/bin/Debug/net7.0/refs/System.Collections.NonGeneric.dll
/bin/Debug/net7.0/refs/System.Collections.Specialized.dll
/bin/Debug/net7.0/refs/System.ComponentModel.Annotations.dll
/bin/Debug/net7.0/refs/System.ComponentModel.DataAnnotations.dll
/bin/Debug/net7.0/refs/System.ComponentModel.dll
/bin/Debug/net7.0/refs/System.ComponentModel.EventBasedAsync.dll
/bin/Debug/net7.0/refs/System.ComponentModel.Primitives.dll
/bin/Debug/net7.0/refs/System.ComponentModel.TypeConverter.dll
/bin/Debug/net7.0/refs/System.Configuration.dll
/bin/Debug/net7.0/refs/System.Console.dll
/bin/Debug/net7.0/refs/System.Core.dll
/bin/Debug/net7.0/refs/System.Data.Common.dll
/bin/Debug/net7.0/refs/System.Data.DataSetExtensions.dll
/bin/Debug/net7.0/refs/System.Data.dll
/bin/Debug/net7.0/refs/System.Diagnostics.Contracts.dll
/bin/Debug/net7.0/refs/System.Diagnostics.Debug.dll
/bin/Debug/net7.0/refs/System.Diagnostics.DiagnosticSource.dll
/bin/Debug/net7.0/refs/System.Diagnostics.EventLog.dll
/bin/Debug/net7.0/refs/System.Diagnostics.FileVersionInfo.dll
/bin/Debug/net7.0/refs/System.Diagnostics.Process.dll
/bin/Debug/net7.0/refs/System.Diagnostics.StackTrace.dll
/bin/Debug/net7.0/refs/System.Diagnostics.TextWriterTraceListener.dll
/bin/Debug/net7.0/refs/System.Diagnostics.Tools.dll
/bin/Debug/net7.0/refs/System.Diagnostics.TraceSource.dll
/bin/Debug/net7.0/refs/System.Diagnostics.Tracing.dll
/bin/Debug/net7.0/refs/System.dll
/bin/Debug/net7.0/refs/System.Drawing.dll
/bin/Debug/net7.0/refs/System.Drawing.Primitives.dll
/bin/Debug/net7.0/refs/System.Dynamic.Runtime.dll
/bin/Debug/net7.0/refs/System.Formats.Asn1.dll
/bin/Debug/net7.0/refs/System.Formats.Tar.dll
/bin/Debug/net7.0/refs/System.Globalization.Calendars.dll
/bin/Debug/net7.0/refs/System.Globalization.dll
/bin/Debug/net7.0/refs/System.Globalization.Extensions.dll
/bin/Debug/net7.0/refs/System.IO.Compression.Brotli.dll
/bin/Debug/net7.0/refs/System.IO.Compression.dll
/bin/Debug/net7.0/refs/System.IO.Compression.FileSystem.dll
/bin/Debug/net7.0/refs/System.IO.Compression.ZipFile.dll
/bin/Debug/net7.0/refs/System.IO.dll
/bin/Debug/net7.0/refs/System.IO.FileSystem.AccessControl.dll
/bin/Debug/net7.0/refs/System.IO.FileSystem.dll
/bin/Debug/net7.0/refs/System.IO.FileSystem.DriveInfo.dll
/bin/Debug/net7.0/refs/System.IO.FileSystem.Primitives.dll
/bin/Debug/net7.0/refs/System.IO.FileSystem.Watcher.dll
/bin/Debug/net7.0/refs/System.IO.IsolatedStorage.dll
/bin/Debug/net7.0/refs/System.IO.MemoryMappedFiles.dll
/bin/Debug/net7.0/refs/System.IO.Pipelines.dll
/bin/Debug/net7.0/refs/System.IO.Pipes.AccessControl.dll
/bin/Debug/net7.0/refs/System.IO.Pipes.dll
/bin/Debug/net7.0/refs/System.IO.UnmanagedMemoryStream.dll
/bin/Debug/net7.0/refs/System.Linq.dll
/bin/Debug/net7.0/refs/System.Linq.Expressions.dll
/bin/Debug/net7.0/refs/System.Linq.Parallel.dll
/bin/Debug/net7.0/refs/System.Linq.Queryable.dll
/bin/Debug/net7.0/refs/System.Memory.dll
/bin/Debug/net7.0/refs/System.Net.dll
/bin/Debug/net7.0/refs/System.Net.Http.dll
/bin/Debug/net7.0/refs/System.Net.Http.Json.dll
/bin/Debug/net7.0/refs/System.Net.HttpListener.dll
/bin/Debug/net7.0/refs/System.Net.Mail.dll
/bin/Debug/net7.0/refs/System.Net.NameResolution.dll
/bin/Debug/net7.0/refs/System.Net.NetworkInformation.dll
/bin/Debug/net7.0/refs/System.Net.Ping.dll
/bin/Debug/net7.0/refs/System.Net.Primitives.dll
/bin/Debug/net7.0/refs/System.Net.Quic.dll
/bin/Debug/net7.0/refs/System.Net.Requests.dll
/bin/Debug/net7.0/refs/System.Net.Security.dll
/bin/Debug/net7.0/refs/System.Net.ServicePoint.dll
/bin/Debug/net7.0/refs/System.Net.Sockets.dll
/bin/Debug/net7.0/refs/System.Net.WebClient.dll
/bin/Debug/net7.0/refs/System.Net.WebHeaderCollection.dll
/bin/Debug/net7.0/refs/System.Net.WebProxy.dll
/bin/Debug/net7.0/refs/System.Net.WebSockets.Client.dll
/bin/Debug/net7.0/refs/System.Net.WebSockets.dll
/bin/Debug/net7.0/refs/System.Numerics.dll
/bin/Debug/net7.0/refs/System.Numerics.Vectors.dll
/bin/Debug/net7.0/refs/System.ObjectModel.dll
/bin/Debug/net7.0/refs/System.Reflection.DispatchProxy.dll
/bin/Debug/net7.0/refs/System.Reflection.dll
/bin/Debug/net7.0/refs/System.Reflection.Emit.dll
/bin/Debug/net7.0/refs/System.Reflection.Emit.ILGeneration.dll
/bin/Debug/net7.0/refs/System.Reflection.Emit.Lightweight.dll
/bin/Debug/net7.0/refs/System.Reflection.Extensions.dll
/bin/Debug/net7.0/refs/System.Reflection.Metadata.dll
/bin/Debug/net7.0/refs/System.Reflection.Primitives.dll
/bin/Debug/net7.0/refs/System.Reflection.TypeExtensions.dll
/bin/Debug/net7.0/refs/System.Resources.Reader.dll
/bin/Debug/net7.0/refs/System.Resources.ResourceManager.dll
/bin/Debug/net7.0/refs/System.Resources.Writer.dll
/bin/Debug/net7.0/refs/System.Runtime.CompilerServices.Unsafe.dll
/bin/Debug/net7.0/refs/System.Runtime.CompilerServices.VisualC.dll
/bin/Debug/net7.0/refs/System.Runtime.dll
/bin/Debug/net7.0/refs/System.Runtime.Extensions.dll
/bin/Debug/net7.0/refs/System.Runtime.Handles.dll
/bin/Debug/net7.0/refs/System.Runtime.InteropServices.dll
/bin/Debug/net7.0/refs/System.Runtime.InteropServices.JavaScript.dll
/bin/Debug/net7.0/refs/System.Runtime.InteropServices.RuntimeInformation.dll
/bin/Debug/net7.0/refs/System.Runtime.Intrinsics.dll
/bin/Debug/net7.0/refs/System.Runtime.Loader.dll
/bin/Debug/net7.0/refs/System.Runtime.Numerics.dll
/bin/Debug/net7.0/refs/System.Runtime.Serialization.dll
/bin/Debug/net7.0/refs/System.Runtime.Serialization.Formatters.dll
/bin/Debug/net7.0/refs/System.Runtime.Serialization.Json.dll
/bin/Debug/net7.0/refs/System.Runtime.Serialization.Primitives.dll
/bin/Debug/net7.0/refs/System.Runtime.Serialization.Xml.dll
/bin/Debug/net7.0/refs/System.Security.AccessControl.dll
/bin/Debug/net7.0/refs/System.Security.Claims.dll
/bin/Debug/net7.0/refs/System.Security.Cryptography.Algorithms.dll
/bin/Debug/net7.0/refs/System.Security.Cryptography.Cng.dll
/bin/Debug/net7.0/refs/System.Security.Cryptography.Csp.dll
/bin/Debug/net7.0/refs/System.Security.Cryptography.dll
/bin/Debug/net7.0/refs/System.Security.Cryptography.Encoding.dll
/bin/Debug/net7.0/refs/System.Security.Cryptography.OpenSsl.dll
/bin/Debug/net7.0/refs/System.Security.Cryptography.Primitives.dll
/bin/Debug/net7.0/refs/System.Security.Cryptography.X509Certificates.dll
/bin/Debug/net7.0/refs/System.Security.Cryptography.Xml.dll
/bin/Debug/net7.0/refs/System.Security.dll
/bin/Debug/net7.0/refs/System.Security.Principal.dll
/bin/Debug/net7.0/refs/System.Security.Principal.Windows.dll
/bin/Debug/net7.0/refs/System.Security.SecureString.dll
/bin/Debug/net7.0/refs/System.ServiceModel.Web.dll
/bin/Debug/net7.0/refs/System.ServiceProcess.dll
/bin/Debug/net7.0/refs/System.Text.Encoding.CodePages.dll
/bin/Debug/net7.0/refs/System.Text.Encoding.dll
/bin/Debug/net7.0/refs/System.Text.Encoding.Extensions.dll
/bin/Debug/net7.0/refs/System.Text.Encodings.Web.dll
/bin/Debug/net7.0/refs/System.Text.Json.dll
/bin/Debug/net7.0/refs/System.Text.RegularExpressions.dll
/bin/Debug/net7.0/refs/System.Threading.Channels.dll
/bin/Debug/net7.0/refs/System.Threading.dll
/bin/Debug/net7.0/refs/System.Threading.Overlapped.dll
/bin/Debug/net7.0/refs/System.Threading.RateLimiting.dll
/bin/Debug/net7.0/refs/System.Threading.Tasks.Dataflow.dll
/bin/Debug/net7.0/refs/System.Threading.Tasks.dll
/bin/Debug/net7.0/refs/System.Threading.Tasks.Extensions.dll
/bin/Debug/net7.0/refs/System.Threading.Tasks.Parallel.dll
/bin/Debug/net7.0/refs/System.Threading.Thread.dll
/bin/Debug/net7.0/refs/System.Threading.ThreadPool.dll
/bin/Debug/net7.0/refs/System.Threading.Timer.dll
/bin/Debug/net7.0/refs/System.Transactions.dll
/bin/Debug/net7.0/refs/System.Transactions.Local.dll
/bin/Debug/net7.0/refs/System.ValueTuple.dll
/bin/Debug/net7.0/refs/System.Web.dll
/bin/Debug/net7.0/refs/System.Web.HttpUtility.dll
/bin/Debug/net7.0/refs/System.Windows.dll
/bin/Debug/net7.0/refs/System.Xml.dll
/bin/Debug/net7.0/refs/System.Xml.Linq.dll
/bin/Debug/net7.0/refs/System.Xml.ReaderWriter.dll
/bin/Debug/net7.0/refs/System.Xml.Serialization.dll
/bin/Debug/net7.0/refs/System.Xml.XDocument.dll
/bin/Debug/net7.0/refs/System.Xml.XmlDocument.dll
/bin/Debug/net7.0/refs/System.Xml.XmlSerializer.dll
/bin/Debug/net7.0/refs/System.Xml.XPath.dll
/bin/Debug/net7.0/refs/System.Xml.XPath.XDocument.dll
/bin/Debug/net7.0/testhost.dll
/bin/Debug/net7.0/refs/WindowsBase.dll
/bin/Debug/net7.0/xunit.abstractions.dll
/bin/Debug/net7.0/xunit.assert.dll
/bin/Debug/net7.0/xunit.core.dll
/bin/Debug/net7.0/xunit.execution.dotnet.dll
/bin/Debug/net7.0/xunit.runner.reporters.netcoreapp10.dll
/bin/Debug/net7.0/xunit.runner.utility.netcoreapp10.dll
/bin/Debug/net7.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
