/obj/rider.project.restore.info
/obj/project.packagespec.json
/obj/project.nuget.cache
/obj/project.assets.json
/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/DiffAPI.csproj.nuget.g.props
/obj/Debug/net7.0/DiffAPI.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/DiffAPI.GlobalUsings.g.cs
/obj/DiffAPI.csproj.nuget.g.targets
/obj/DiffAPI.csproj.nuget.dgspec.json
/obj/Debug/net7.0/DiffAPI.csproj.AssemblyReference.cache
/obj/Debug/net7.0/DiffAPI.assets.cache
/obj/Debug/net7.0/DiffAPI.AssemblyInfoInputs.cache
/obj/Debug/net7.0/DiffAPI.AssemblyInfo.cs
/obj/rider.project.model.nuget.info
